.app-wrapper {
    display: flex;
}

.nav-bar-wrapper {
    position: sticky;
    top: 0px;
    height: 100vh;
    width: 250px;
    transition: all .3s ease-in-out .2s;
}

.content-wrapper {
    width: 500px;
    flex: 1 1;
}

.subview-wrapper {
    height: 1000px;
}

.header-wrapper {
    position: sticky;
    top: 0px;
    z-index: 100;
}