.wrapper-register-form {
    width: 40%;
    height: 680px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:auto;
    background-color:white;
}

.wrapper-register-form .title-form {
    text-align: center;
    margin-bottom: 15px;

}

.wrapper-register-form .title-form h3 {
    font-size: 30px;
    color: #000;
    font-weight:bold;
}

.wrapper-register-form .title-form p {
    font-size: 15px;
}

.wrapper-register-form .register-form {
    width: 370px;
    padding: 15px;
    box-shadow: 0 5px 4px 0 rgba(0, 0, 0, .1);
    background-color: white;
}

.wrapper-register-form .register-form .form-group {
    margin-bottom: 20px;
    font-size: 14px;
    color: #333;
    border:1px solid gray;
    border-radius:4px;
    
}

.wrapper-register-form .register-form .form-group input {
    padding: 10px 10px;
    border: none;
    outline: none;
    width: 100%;
    
}

.wrapper-register-form .register-form .form-group input:focus {
    border:1px solid #376BFF;
    
}

.wrapper-register-form .register-form button {
    border-radius: 4px;
    background-color: black;
    transition: all .3s ease 0s;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
    line-height: 24px;
    padding: 8px 25px;
    margin-bottom: 0px;
    height: 40px;
}

.wrapper-register-form .register-form button:hover {
    background-color: #80bb01;
}

.wrapper-register-form .register-form ._row {
    margin-bottom: 20px;
}

.wrapper-register-form .register-form ._row a,
.wrapper-register-form .register-form ._row button {
    background-color: #376BFF;
    display: inline-block;
    width: 100%;
}

.wrapper-register-form .register-form ._row button:hover {
    filter:brightness(120%);
}
.wrapper-register-form .register-form ._rowbutton:focus {
    filter:brightness(90%);
}

.wrapper-register-form .register-form ._row a {
    flex: 1 1;
    text-align: end;
}

.wrapper-register-form .register-form a {
    text-decoration: none;
    font-size: 13px;
}
.content{
    text-align:center;
   
}
.content p{
    color: #376BFF;
}