/** Banner**/
#banner {
    position: relative;
}

.banner {
    font-family: 'Raleway', sans-serif;
}

.bg-color-full:before {
    position: absolute;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    background: rgb(139,145,221);
    z-index: 1;
    background: -moz-linear-gradient(45deg, rgba(139,145,221,1) 0%, rgba(16,25,93,1) 71%, rgba(16,25,93,1) 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(139,145,221,1)), color-stop(71%,rgba(16,25,93,1)), color-stop(100%,rgba(16,25,93,1)));
    background: -webkit-linear-gradient(45deg, rgba(139,145,221,1) 0%,rgba(16,25,93,1) 71%,rgb(169, 255, 103) 100%);
    background: -o-linear-gradient(45deg, rgba(139,145,221,1) 0%,rgba(16,25,93,1) 71%,rgba(16,25,93,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(139,145,221,1) 0%,rgba(16,25,93,1) 71%,rgba(16,25,93,1) 100%);
    background: linear-gradient(45deg, rgb(255, 236, 11) 0%,rgb(236, 25, 55) 71%,rgb(234, 23, 23) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b91dd', endColorstr='#10195d',GradientType=1 );
    opacity: 0.7;
}

.bg-color-full-2:before{
    position: absolute;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    background: rgb(139,145,221);
    background: -moz-linear-gradient(45deg, rgba(139,145,221,1) 0%, rgba(16,25,93,1) 71%, rgba(16,25,93,1) 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(139,145,221,1)), color-stop(71%,rgb(93, 52, 16)), color-stop(100%,rgba(16,25,93,1)));
    background: -webkit-linear-gradient(45deg, rgb(222, 168, 13) 0%,rgb(199, 49, 25) 71%,rgb(251, 50, 12) 100%);
    background: -o-linear-gradient(45deg, rgba(139,145,221,1) 0%,rgba(16,25,93,1) 71%,rgba(16,25,93,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(139,145,221,1) 0%,rgba(16,25,93,1) 71%,rgba(16,25,93,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b91dd', endColorstr='#10195d',GradientType=1 );
    opacity: 0.7;
}

.banner img{
    height: 720px;
}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
}

.banner-bg {
    background: url("../img/banner/banner-1.jpg");
}

.item-bg {
    /*background: url("../img/banner-1.jpg");*/
    height: 100vh;
    /*animation: bgburnsEast 25s linear infinite alternate;
    -webkit-animation: bgburnsEast 25s linear infinite alternate;*/
}

.banner-min-height {
    /*max-height: 720px;*/
}

.banner-max-height img {
    /*max-height: 720px;*/
}

.banner .slider-mover-left {
    width: 35px;
    height: 50px;
    line-height: 55px;
    position: absolute;
    top: 45%;
    z-index: 999;
    display: inline-block;
    left: 0;
    background: #151515;
    text-align: center;
    border-radius: 0 5px 5px 0;
}

.banner .slider-mover-right {
    width: 35px;
    height: 50px;
    line-height: 55px;
    position: absolute;
    top: 45%;
    z-index: 5;
    display: inline-block;
    right: 0;
    background: #151515;
    text-align: center;
    border-radius: 5px 0 0 5px;
}

.banner .slider-mover-right i {
    font-size: 20px;
    color: #fff;
}

.banner .slider-mover-left i {
    font-size: 20px;
    color: #fff;
}

.banner .carousel-content {
    align-self: center;
    margin: 0 auto;
    color: #fff;
}

.carousel-item .text-right {
    float: right;
}

.banner .browse-jobs {
    color: #fff;
    margin-top: 30px;
    font-size: 15px;
    font-weight: 500;
}

.banner .browse-jobs a {
    background-color: rgba(255,255,255,.1);
    border: 1px solid rgba(255,255,255,.2);
    padding: 5px 11px;
    color: #fff;
    margin: 0 5px;
    border-radius: 3px;
    font-size: 13px;
}

.banner h1{
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
    font-size: 50px;
}

.banner h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: normal;
}

.banner h3 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: normal;
}

.banner .banner-slider-inner .max-w {
    max-width: 490px;
}

.banner .p {
    color: #fff;
    letter-spacing: 1px;
    font-size: 19px;
    font-weight: 400;
    opacity: 0.8;
    margin-bottom: 40px;
}

.banner .banner-slider-inner {
    display: inline-block;
    text-shadow: none;
    right: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-color: rgba(36, 42, 53, 0.7);
}

.banner .carousel-bg .carousel-item {
    height: 100vh;
    background: #3e4a5b;
}

.banner_video_bg {
    max-height: 720px;
}

.banner_video_bg_2 {
    max-height: 550px;
}

.pattern-overlay {
    /*background-color: rgba(0, 0, 0, 0.35);
    height: 100vh;*/
}

.banner_video_bg .carousel-item {
    height: 720px;
}

.banner_video_bg_2 .carousel-item{
    max-height: 550px;
}

#particles-banner {
    width: 100%;
    height: 100vh;
    background-color: rgba(36, 42, 53, 0.7);
    position: absolute;
}

#particles-banner-wrapper .banner-slider-inner {
    background-color: transparent;
}

.banner-inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 100%;
    text-align: center;
}

.item-bg {
    height: 100vh;
}

/** Banner property start **/
.banner-property-box .rent {
    padding: 7px 20px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    margin-right: 10px;
}

.banner .h3 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: normal;
}

.banner p {
    color: #fff;
    margin: 0 0 40px;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
}

.banner-counter-box{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

.banner-counter-box .counter-box{
    display: inline-block;
    background: rgba(23, 23, 23, 0.298039);
    padding: 10px 20px 3px;
    border-radius: 3px;
    margin: 0 5px 5px;
}

.banner-counter-box .counter-box h1 {
    margin: 0;
    font-size: 27px;
}

.counter-box p {
    margin: 0;
    font-size: 12px;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 600;
}
.banner .inline-search-area .dropdown-toggle::after {
    top: 28px;
}

.banner .inline-search-area .dropdown-toggle::after {
    top: 28px;
}

.banner .inline-search-area .bootstrap-select button {
    padding: 14px 15px 15px 15px;
}

.banner .bootstrap-select {
}

.banner .search-fields {
    border-radius: 0px;
}

/** Sub Banner start **/
.sub-banner {
    background: rgba(0, 0, 0, 0.04) url(http://placehold.it/1920x355) top left repeat;
    background-size: cover;
    height: 355px;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.sub-banner .breadcrumb-area {
    letter-spacing: 1px;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    z-index: 1;
}

.sub-banner .breadcrumb-area h1 {
    margin: 0 0 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
}

.sub-banner .breadcrumbs li {
    display: inline-block;
    list-style: none;
    font-size: 16px;
}

.sub-banner .breadcrumbs li a{
    color: #fff;
}

.sub-banner .breadcrumbs .active {
    margin-left: 7px;
    color: #fff;
}

.sub-banner .breadcrumbs .active:before {
    content: "\f105";
    font-family: "FontAwesome";
    font-size: 14px;
    margin-right: 7px;
    font-weight: 600;
}

.social-list-2 {
    float: right;
}

.social-list-2 a {
    text-align: center;
    display: inline-block;
    list-style: none;
}

.social-list-2 span {
    margin-right: 10px;
    font-weight: 600;
    color: #4d4d4d;
}

.social-list-2 a {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    color: rgb(255, 255, 255);
    margin: 2px 0 2px 5px;
    border-radius: 5%;
}

.blog-tags a {
    display: inline-block;
    font-size: 13px;
    margin: 0 0 5px;
    font-weight: 600;
    padding: 4px 11px;
    text-transform: capitalize;
    border: 1px solid #fff;
    background: #fff;
    color: #666;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.blog-tags span {
    margin-right: 10px;
    font-weight: 600;
    color: #4d4d4d;
}