.contact-map {
    height: 350px !important;
}

.contact-map-content .map-content {
    width: 250px;
}

.quick-contact textarea {
    min-height: 120px;
}

/** Map **/
.contact-map {
    height: 350px !important;
}

.contact-map-content .map-content {
    width: 250px;
}
