
.wrapper-login-form {
    margin:auto;
    width: 36%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:4rem;
    background-color:white;
    padding:2rem;
    
}

.wrapper-login-form .title-form {
    padding:8px;
    text-align: center;
    margin-bottom: 16px;
    text-align: center;
    
}

.wrapper-login-form .title-form h3 {
    font-size: 30px;
    color: #000;
    width:50%;
    text-align: center;
    margin:auto;
    font-weight:bold;
}

.wrapper-login-form .title-form p {
    font-size: 12px;
    width:100%;
    text-align: center;
    margin:auto;
}

.wrapper-login-form .login-form {
    width: 100%;
    padding: 15px;
    box-shadow: 0 5px 4px 0 rgba(0, 0, 0, .1);
    background-color:white;
}

.wrapper-login-form .login-form .form-group {
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 1rem;
    color: #333;
    background-color:#FDFDFF;
    border: none;
}

.wrapper-login-form .login-form .form-group input {
    
    padding: 10px 10px;
    border: 1px solid gray;
    outline: none;
    width: 100%;
}

.wrapper-login-form .login-form button {
    border-radius: 4px;
    background-color: #376BFF;
    transition: all .3s ease 0s;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
    line-height: 24px;
    padding: 8px 25px;
    margin-bottom: 0px;
    height: 40px;
}

.wrapper-login-form .login-form button:hover {
    filter:brightness(120%);
}
.wrapper-login-form .login-form button:focus {
    filter:brightness(90%);
}
.wrapper-login-form .login-form ._row {
    /* display: flex;
    justify-content: space-between;
    align-items: baseline; */
    width:100%;
    margin-bottom: 20px;
}

.wrapper-login-form .login-form ._row a,
.wrapper-login-form .login-form ._row button {
    display: inline-block;
    width: 100%;
}

.wrapper-login-form .login-form ._row a {
    flex: 1 1;
    text-align: end;
}

.wrapper-login-form .login-form a {
    text-decoration: none;
    font-size: 13px;
}

.footer{
    width:100%;
    display:flex;
    justify-items:center;
    justify-content:center;
    margin-top:1rem;
}
.content{
    padding-top: 4px;
    padding-bottom:4px;
}
.footer .content .lin{
    color: #376BFF;
}

@media only screen and (max-width: 600px) {
    .wrapper-login-form {
        margin:auto;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top:4rem;
        background-color:white;
        padding:2rem;
        
    }
    
  }